body{
  background-color:#DCDCDC;
  margin: 0px;
}
/* body  */

header{ 
  background-color:rgb(1, 112, 116);
  margin: 0px;
  height: 70px;
 
}


h1{
  color:#fff;
  margin: 0px;
  margin-left: 10px;
}
/* titre de la page  */

h2{
  color: black;
  text-align: center;
  font-size: 27px;
}
 /* 2ieme titre */


.form{
  background-color: #fff;
  border-radius: 20px;
  text-align: center; 
  margin: 0px;
}

/* la classe de la div qui prends encompte la parti forme de la page */


.champ{
  height: 40px;
  width: 250px;
  text-align: center;
  margin-top: 50px;
}
/* classe champ inpt  */

.submit{
  height: 50px;
  width: 80px;
  background-color:rgb(1, 112, 116);
  color:#fff;
  border-radius: 30px;
  font-size:20px;
  margin-top: 20px;
}
 
/* la touche connexion  */