body {
  background-color:#ffffff;
  margin: 0px;
}
/* Balise Body  */

header {
  background-color: rgb(59, 152, 147);
  margin: 0px;
  height: 90px;

}

 /*balise header  */

h1 {
  color: #fff;
  margin: 0px;
  font-size: 38PX;
}

/* titre de ma page */


h2 {
  color: blue;
  text-align: center;
  font-size: 40px;
}
/* titre deux de la page */


.form {
  font-size: 20px;
  margin: 0px;
  text-align: center;
}

/* form est la classe de la balise form */

.champs {
  height: 35px;
  width: 270px;
  font-size: 15px;
  margin-top: 30px;
  border-color: rgb(187, 187, 190);
  border-radius: 5px;
  border-style: double;
  color: black;
}

/* input et champ est leur classe. */



.submit {
  height: 45px;
  width: 270px;
  background-color: #42b742;
  color: #ffffff;
  border-radius: 5px;
  border-color: #fff;
  font-size: 20px;
  border-style: double;
  cursor: pointer;
  margin-top: 40px;
}

/* touche de connexion  */