body {
    background-color: #DCDCDC;
    margin: 0px;
    padding: 0px;
}

/* code du Body, et le margin & padding */

header .navbar-expand-lg {

    height: 70px;
    background-color: #fff;
}

/* couleur de ma navbar et la taille  */

header .navbar-expand-lg h1 {
    font-size: 30px;
    color: blue;
}

/* Mon titre H1 ainsi que la couleur */



.btn-secondary {
    background-color: #fff;
    width: 65%;
    height: 55px;
    margin-top: 10px;
    margin-left: 40px;
    border-color: #fff;
    color: cornsilk
}

/* Logo de ma navbar, message, accueil, Notification, profil, localisation, paramètres. */

.d-flex {
    margin-left: 50px;
    width: 90%;
    border-color: black;
    margin: 1rem;
}

/* input */

.btn-outline-success {
    margin-left: 2px;

}

/* input */



.dropdown-menu {
    position: absolute;
    z-index: 40;
}

/* Menu déroulant */

.col {
    position: absolute;
    z-index: 30;
}

/* Menu déroulant */



.div1 {
    height: 20px;
    width: 20px;

}

/* Taille du logo Message */


.message {
    font-size: 12px;
    color: black;
}

/*  Menu message */



.div2 {
    height: 20px;
    width: 20px;
    font-size: 15px;
}

/* Taille du logo notification */


.notification {
    font-size: 12px;
    color: black;
}

/*  Menu notification */


.div3 {
    height: 20px;
    width: 20px;
}

/* Taille du logo profil */

.profil {
    font-size: 12px;
    color: black;
}

/*  Menu profil */

.div4 {
    height: 20px;
    width: 20px;
}

/* Taille du logo Accueil */

.accueil {
    font-size: 12px;
    color: black;
}

/*  Menu accueil */

.div5 {
    height: 20px;
    width: 20px;
}

/* Taille du logo Paramètres */


.paramètres {
    font-size: 12px;
    color: black;
}

/*  Menu Paramètres */


.div6 {
    height: 20px;
    width: 20px;
}

/* Taille du logo Localisation */

.localisation {
    font-size: 12px;
    color: black;
}

/*  Menu Localisation */





/* PARTI NAV  => */




.row-cols-2 {
    text-align: center;
    justify-content: center
}

/* parti nav, la classe row-cols de bootstrap */



.p-3 {

    width: 15%;
    font-size: 20px;
    background-color: #fff;
    margin-top: 140px;
    height: 75%;
    left: 3%;
    border-radius: 20px;
}

/* P-3 EST  le coté profil de la page d'accueil qui est situer à gauche */


.contact {
    text-align: left;
    font-size: 15px;
    margin-top: 100%
}

/* Menu Contact de ma page d'accueil */


.discussion {
    font-size: 15px;
    text-align: left;
}

/* mENU Discution de ma page d'accueil */


.rendezvous {
    font-size: 15px;
    text-align: left;
}

/* Menu rendez vous de ma page d'accueil */



.groupe {
    text-align: left;
    font-size: 15px;
}

/* Menu Groupe de ma page d'accueil */



.p-4 {
    width: 250%;
    font-size: 50px;
    background-color: #fff;
    margin-top: 70px;
    height: 58%;
    border-radius: 20px;
    margin-left: -104%;
    margin-top: 105PX;
}

/*  Menu centre de ma page d'accueil */



.part {
    font-size: 20px;
    text-align: center;
    width: 90%;
    height: 80px;
}

/* Valeur de input situer au centre de ma page d'accueil */



.col .p-5 {
    text-align: center;
    width: 25%;
    font-size: 50px;
    background-color: #fff;
    margin-top: 380px;
    height: 75%;
    margin: 140px;
    border-radius: 20px;
    margin-left: 72%;
    color: black;
}
/*  Menu à droit Situer à l'accueil */


/* Parti JQuery pour publier le message*/


#app {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 16px;
    width: 8px;
    font-size: 20px;
    margin: 220px;
    margin-top: 330px;
    justify-content: center;


}

.liste {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 6px 0px #3605057a;
    padding: 170px;
    color: black;
    margin-bottom: 50px;
    height: 170px;


}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 15px;
    /* background-color: #fff; */
    margin-bottom: 9px;
    color: black;
}

.green:after {
    content: "-------";
    height: 12px;
    display: inline-block;
    margin-left: 6px;
    border-radius: 10px;
    background-color: rgb(231, 23, 68);
}

UL {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    color: goldenrod;
}

.allo {
    width: 40px;
    font-size: 50px;

    background-color: lightsalmon;


}

.container .col.allo {
    background-color: chartreuse;

}