body {
  background-color: #DCDCDC;
  margin: 0px;
}


header {
  background-color: rgb(1, 112, 116);
  margin: 0px;
  height: 70px;

}


h1 {
  color: #fff;
  margin: 0px;
  font-size: 34PX;
  /* margin-left: 10px; */
}

/* titre de ma page */


h2 {
  color: black;
  text-align: center;
  font-size: 27px;
}

/* titre deux de la page */

main {
  background-color: #fff;
  text-align: center;
  margin:0px;

}

/* le parent des input et du button connexion */

.forr {
  font-size: 20px;
  margin: 0px;
}

/* forr est la classe de la balise form */

.champ {
  height: 40px;
  width: 250px;
  margin-top: 30px;
  text-align: center;
}

/* input et champ est leur classe. */

.Record {
  margin-top: 20px;

}

/* touche de connexion */

.submit {
  height: 50px;
  width: 80px;
  background-color: rgb(1, 112, 116);
  color: #fff;
  border-radius: 30px;
  font-size: 15px;
}

/* touche de connexion  */