body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

/* Body */

.header {
  background-color: rgb(1, 112, 116);
  height: 100PX;
  margin: 0px;

}

/* la balise header  */

h1 {
  font-size: 30px;
  color: #fff;
  margin: 0px;

}

/* la classe small  qui est le titre de ma page small world*/


.Email {
  color: #fff;
  font-size: 15px;
}

/* Balise Email pour géré le titre Email de input de connexion */

.MotDepasse {
  font-size: 16px;
  color: #fff;
  margin: 0px;
}

/* Mot de passe le titre de input */

.conne {
  /* text-align: center; */
  margin: 0px;

}

/* la classe conne qui est dans le parent Nav. */



.mdp {
  color: #fff;
  font-size: 15px;
}

/* code de carte la session active*/


.toto {
  color: #fff;
  font-size: 15px;
  margin-right: 80px;
}

/* Le Code du Mot de passe oublier */

.GarderSession {
  font-size: 15PX;
  color: #fff;
  margin: 0px;

}

/* gS class */



.GarderMaSessionActive {
  margin-right: 90px;

}

/* Le Code du Mot de passe oublier */


.email {
  font-size: 14px;
  color: black;
  margin: 0px;
  text-align: center;

}

/* class email qui est le parent de mon formulaire Email, mot de passe et connexion */



.LogoDrapeau {
  width: 30px;
  height: 20px;
  margin-left: 90%;

}

/* logo image pour changer la langue. */

h2 {
  text-align: center;
  font-size: 40px;
  color: rgba(59, 89, 152);
  margin: 0px;

}

/* titre h2 */


.formulaire {
  text-align: center;
  font-size: 20px;
  margin: 0px;

}

/* class formulaire */


.date {
  color: #1d212d;
  text-align: center;
  font-size: 15px;
}

/* la class date */


.sex {
  text-align: center;
  font-size: 19px;
  color: black;
  border-bottom: blue;
}

/* la class sex */


.champ {
  text-align: center;
  height: 30px;
  width: 220px;
  font-size: 15px;
  margin-top: 5px;
}

/* class champ */

.message {
  text-align: center;
  color: gray;
}

/* class message */

.connexion {
  text-align: center;
  font-size: 20px;

}

/* class connexion */


.inscrire {
  height: 50px;
  background-color: rgb(5, 107, 99);
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
}