body {
  padding: 0;
  margin: 0;
  background-image: #DCDCDC;

}

header {
  background-color: rgb(59, 152, 147);
  height: 90px;
  border: solid rgb(231, 230, 230);
  margin: 0px;

}

/* Balise header */


@media (max-width:838px) {

  header {
    background-color: rgb(59, 152, 147);
    width: 100%;
    height: 100px;


  }

}


h1 {
  font-size: 38px;
  color: #ffffff;
  margin: 0px;
  top: 30px;

}


/* Titre de H1 de la page */
@media (max-width:559px) {

  h1 {
    margin-top: -6px;
    text-align: center;
    margin: 0px;
  }

}


.span {
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-top: -27px;

}

@media (max-width:836px) {

  .span {
    margin-top: 2px;
    justify-content: center;

  }

}



table {

  font-size: 14px;
  margin: 0px;

}

@media (max-width:838px) {

  table {}

}


.inputGarderMaSessionActive {
  margin: 0px;
}

@media (max-width:838px) {

  .inputGarderMaSessionActive {
    display: none;

  }

}



.email {
  color: #ffffff;
  font-size: 14px;
}

/* balise email qui est dans la partie header */

@media (max-width:838px) {

  .email {
    font-size: 20px;
  }

}


.motdepasse {
  color: #ffffff;
  font-size: 14px;
}

/* balise motdepasse qui est dans la partie header */



.motdepasseoublier {
  color: #ffffff;
  text-decoration: none;

}

/* la classe motdepasseoublier */

@media (max-width:838px) {

  .motdepasseoublier {
    display: none;

  }

}

/* mEdia query pour arreter d'afficher le motdepasseoublier */

.GarderSession {
  color: #ffffff;

}

/* la classe GarderSession */


@media (max-width:838px) {

  .GarderSession {
    display: none;


  }

}

/* mEdia query pour arreter d'afficher le garder session */


.LogoDrapeau {
  width: 30px;
  height: 20px;
  float: right;
  margin: 5px;
}

/* logo image pour changer la langue. */


@media (max-width:403px) {

  .LogoDrapeau {
    display: none;

  }

}

/* mEdia query pour arreter d'afficher le drapeau */

section {
  text-align: center;
}

/* balise section */

h2 {
  text-align: center;
  font-size: 40px;
  color: blue;
  margin: 0px;
  margin-top: 1px;

}

/* titre h2 */


.formulaire {
  font-size: 20px;
  margin: 0px;

}

/* class formulaire */


.date {
  color: black;
  font-size: 15px;
  margin: 0px;
}

/* la class date */


.sex {
  font-size: 15px;
  color: black;
  border-bottom: blue;
}

/* la class sex */


.champs {
  height: 35px;
  width: 270px;
  font-size: 15px;
  margin-top: 7px;
  border-color: rgb(187, 187, 190);
  border-radius: 5px;
  border-style: double;
  color: black;

}

/* class champs, les input de formulaire dépends tous de la classe champs*/




.inscrire {
  height: 45px;
  width: 270px;
  background-color: #42b742;
  color: #ffffff;
  border-radius: 5px;
  border-color: #fff;
  font-size: 20px;
  border-style: double;
  cursor: pointer;
}

/* bouton connexion de ma 1ere page */

.message {
  font-size: 12px;
  margin: 0px;
  margin-top: 20px;
  color: rgb(120, 120, 247);
  text-align: center;
  margin-right: 45px;

}

/* Message */